.landing-page {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    background: url("/src/Assets/Images/Poster.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.landing-page-contents {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
}

.ratings {
    display: flex;
    justify-content: space-around;
}

aside {
    flex: 0 0 20%;
}

.pagination-con {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.pag-link {
    text-decoration: none;
    color: #ffffff;
}