.movies-list {
    position: relative;
    width: 100%;
    padding: 2rem;
}

.movies-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.movies-list-header-title {
    font-weight: 700;
    font-size: 1.5rem;
}

.movies-list-header-action {
    font-size: 18px;
    font-weight: 500;
    color: #BE123C;
    cursor: pointer;
}

.movies-list-anchor {
    text-decoration: none;
}

.ratings {
    display: inline;
}

.list-group-item {
    display: inline;
    border-bottom: 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin-bottom: 3rem;
    cursor: pointer;
    text-align: left;
}

.card-body {
    padding: 0.5rem;
    text-align: left;
}

.card-title {
    color: #111827;
    font-size: 1.2rem;
    font-weight: 700;
}

.card-text {
    color: #111827;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: left;
}