html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.App {
  text-align: center;
}

main {
  width: 100%;
  position: relative;
  top: 0;
  right: 0;
}