.footer-contents {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.fa-brands {
    margin: 0 1.5rem;
    cursor: pointer;
}

.footer-links {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.footer-links li a {
    text-decoration: none;
}

p {
    text-align: center;
}